.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-airplane {
	font-size:(54/10)*1rem;
	height:(55/54)*1em;
}
.icon-airplane-outline {
	font-size:(30/10)*1rem;
	height:(31/30)*1em;
}
.icon-arrow-down {
	font-size:(18/10)*1rem;
	height:(19/18)*1em;
}
.icon-arrow-left {
	font-size:(20/10)*1rem;
	height:(21/20)*1em;
}
.icon-arrow-right {
	font-size:(20/10)*1rem;
	height:(21/20)*1em;
}
.icon-arrow-right-breadcrumbs {
	font-size:(8/10)*1rem;
	height:(9/8)*1em;
}
.icon-calendar {
	font-size:(30/10)*1rem;
	height:(31/30)*1em;
}
.icon-check-circle {
	font-size:(18/10)*1rem;
	height:(19/18)*1em;
}
.icon-copy-success {
	font-size:(34/10)*1rem;
	height:(35/34)*1em;
}
.icon-edit {
	font-size:(34/10)*1rem;
	height:(35/34)*1em;
}
.icon-like {
	font-size:(34/10)*1rem;
	height:(35/34)*1em;
}
.icon-quote {
	font-size:(48/10)*1rem;
	height:(37/48)*1em;
}
.icon-telegram {
	font-size:(22/10)*1rem;
	height:(23/22)*1em;
}
.icon-tick-square {
	font-size:(24/10)*1rem;
	height:(25/24)*1em;
}
.icon-ticket {
	font-size:(34/10)*1rem;
	height:(35/34)*1em;
}
.icon-trash {
	font-size:(14/10)*1rem;
	height:(15/14)*1em;
}
.icon-wallet {
	font-size:(34/10)*1rem;
	height:(35/34)*1em;
}
.icon-whatsapp {
	font-size:(22/10)*1rem;
	height:(23/22)*1em;
}
